@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-6">Todo Web Application.</h1>
    <p>You can create tasks here!</p>
</div>
